.highlighting-container {
  position: relative;

  .selected-text {
    background-color: orangered;
  }

  .selection-approve-handler {
    position: absolute;
    top: 0;
    right: -30px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background-color: #e0e0e0;
    color: white;
    cursor: pointer;

    &.hidden {
      display: none;
    }
  }

  .comment-box-container {
    position: absolute;
    top: 0;
    right: -262px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 3px;
    width: 220px;

    &.hidden {
      display: none;
    }

    .textarea-container {
      display: flex;
      margin-bottom: 10px;

      textarea {
        resize: none;
        flex-basis: 100%;
        outline: none;
      }
    }

    .buttons-container {
      display: flex;

      .submit-btn,
      .cancel-btn {
        width: 70px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      .submit-btn {
        background-color: #2364ff;
        color: white;
      }

      .cancel-btn {
        margin-left: 10px;
        background-color: #eee;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }
    }
  }
}